
.clear{
    clear: both;
}

.mesage_error{
    color: #cc0000;
}

.success_message{
    color: green;
}

.block_for_messages{
    text-align: center;
	border: 0px solid black;
}

#body{
	background-color: #A9A9A9;
}	

#header{
    padding-left: 10px;
	border: 0px solid black;
	background-color: #696969;
	height: 65px;
}

#content{
	border: 0px solid black;
	height: auto;
}

#footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
	border: 0px solid black;
	background-color: #696969;
	height: 50x;
	float: bottom;

	}

#header h2, #footer h2{
    text-align: center;
    margin: 0;
}

#auth_block{
	
    width: 290px;
	height: 40px;
    float: right;
	border: 0px solid black;
	padding-top: 5px;
}


#auth_block a{
    display: block;
    padding: ;
    border-radius: ;
    color: ;
    width: 110px;
    height: 30px;
    text-decoration: none;
	margin: 5px;
	
}

#auth_block a:hover{
    text-decoration: underline;
}


#link_register{
    float: left;
}


#link_auth, #link_logout{
    float: right;
}

#link_register a{
    float: right;
}

#link_auth a, #link_logout a{
    
    text-align: center;
}

/* Блок с формой регистрации */

#form_register, #form_auth{
    width: 400px;
    margin: 0 auto;
	border: 0px solid black;
	position: center;
}

#authorized h2{
    text-align: center;
}
